*{
    font-family: 'Times New Roman', Times, serif;

}

.list{
    list-style: none;
}

#chordChoice{
    margin: 60px auto 0 auto;
    display: block;
    background-color: white;
    font-size: 70px;
    width: 120px;
    height: 90px;
    border: none;
    box-shadow: 0px 2px 7px 0px #7c7c7c;
}

.majOrMin{
    text-align: center;
}

button{
    display: inline-block;
    width: 100px;
    height: 40px;
    background-color: pink;
    text-align: center;
    margin: 20px;  
    border: 1px solid black;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

button:hover{

}

.black{
    background-color: black;
    color: white;
}

li{
    text-align: center;
    display: block;
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid black;
    font-size: 20px;
}








